/*HEADER*/
.my-header{
    background-color: #2c3e50;
}

.my-container-1{
    background-color: #2c3e50;
    height: 85px;
}

.my-row{
    height: 80px;
}

.my-container-1 h1{
    font-size: 1.40em;
    font-weight: 800;
}

.my-container-1 .fa-bars{
    font-size: 1.50em;
    background-color: rgba(0, 0, 0, 0);
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid white;
    color: grey;
}

.my-container-1 a{
    font-weight: 600;
}

/*JUMBOTRON*/
section{
    background-color: #1abc9c;
}

.color-jumbotron{
    background-color: #1abc9c;
}

#jumbotron img{
    height: 14em;
}

#jumbotron h1{
    font-size: 2.8em;
    font-weight: 630;
    color: white;
}

#jumbotron i{ 
    color: white;
    font-size: 28px;
    padding: 0px 15px;
}

#jumbotron a{
    text-decoration: none;
    color: white;
    font-size: 1.2em;
}

.line-1{
    width: 123px;
    height: 3px;
    background-color: white;
}

/*MAIN*/
/*Portfolio*/
#portfolio{
    background-color: white;
}

.my-container-3{
    height: 181px;
}

#portfolio h1{
    color: black;
}

#portfolio i{
    font-size: 28px;
    color: black;
    padding: 0px 15px;
}

.line-2{
    height: 3px;
    width: 134px;
    background-color: black;
}

/*Sezione-card*/
.my-container-4{
    padding: 0px;
}

.card{
    margin-bottom: 30px;
    border-style: none;
}

.card img{
    border-radius: 14px;
}

/*About*/
.color-1{
    height: 161px;
}

.color-2{
    color: white;
    font-size: 1.30em;
}

.line-3{
    height: 3px;
    width: 120px;
    background-color: white;
}

.container h1{
    color: white;
}

.container i{
    color: white;
    font-size: 28px;
    padding: 0px 9px;
}

.my-btn{
    color: white;
    border: 1px solid white;
}

#about .fas{
    font-size: 1em;
    padding: 0px;
}

/*Contact-me*/
#contact-me{
    background-color: white;
}

.my-container-5 .line-3{
    background-color: black;
}

#contact-me i{
    font-size: 28px;
}

/*Form*/
#input-width h6{
    margin-bottom: 0px;
}

#input-width input{
    width: 100%;
    border-style: none;
    border-bottom: 1px solid grey;
    margin-bottom: 15px;
}

#input-width textarea{
    width: 100%;
    border-style: none;
    border-bottom: 1px solid grey;
}

.my-btn-2{
    background-color: #1abc9c;
    border-style: none;
}

/*FOOTER*/
#top-footer{
    background-color: #3a546d;
}

#top-footer .fab{
    background-color: rgba(0, 0, 0, 0);
}

.my-container-6{
    background-color: #3a546d;
    color: white;
}

.my-container-6 h6{
    font-size: 1.09em;
}

.my-container-6 p{
    font-size: 1.20em;
}

#special{
    color: #1abc9c;
}

.box{
    width: 50px;
    height: 50px;
    background-color: rgba(0, 0, 0, 0);
    border-radius: 30px;
    border: 1px solid white;
    margin: 5px;
}

.box i{
    font-size: 1.20em;
}

/*Copyright*/
#bottom-footer{
    background-color: #2c3e50;
}

.my-container-fluid-5 i{
    font-size: 15px;
    padding: 0px;
    color: white;
}

.my-container-fluid-5 h6{
    color: white;
}