/*HEADER*/
.my-container-1{
    background-color: #2c3e50;
    height: 130px;
}
/*JUMBOTRON*/
.my-sm-col-12-1{
    background-color: #1abc9c;
    height: 300px;
}

.my-sm-col-12-2{
    background-color: burlywood;
    height: 200px;
}
/*MAIN*/
.my-sm-col-12-3{
    height: 150px;
}
/*SEZIONE-CARD*/
.my-container-2{
    background-color: blue;
}

.my-sm-col-12-4{
    background-color: #ba4b63;
    height: 340px;
    border-radius: 13px;
    margin-bottom: 30px;
}

.color-1{
    background-color: #1ea4b6;
}

.color-2{
    background-color: black;
}

.color-3{
    background-color: #1c83c1;
}

.color-4{
    background-color: #0e38b5;
}

.color-5{
    background-color: #ccb2a3;
    margin-bottom: 66px;
}

/*ABOUT-US*/
.color-about-us{
    background-color: #1abc9c;
}

.color-6{
    background-color: blueviolet;
}

.my-sm-col-12-5{
    background-color: red;
    height: 120px;
    margin-bottom: 23px;
}

.my-sm-col-12-6{
    background-color:silver;
    height: 250px;
    margin: 23px 0px;
}

.my-sm-col-12-7{
    background-color:silver;
    height: 100px;
}
/*CONTACT*/
.color-contact{
    background-color: skyblue;
}

.height{
    background-color: violet
}

.my-sm-col-12-8{
    background-color: orange;
    height: 100px;
}

.my-sm-col-12-9{
    background-color: orangered;
    height: 500px;
}

.my-sm-col-12-10{
    background-color: palegreen;
    height: 100px;
}
/*FOOTER*/
.color-fluid{
    background-color: #3a546d;
    height: 500px;
}

.my-sm-col-12-11{
    background-color: purple;
    height: 100px;
}

.my-sm-col-12-12{
    background-color: red;
    height: 150px;
}

.my-sm-col-12-13{
    background-color: seagreen;
    height: 150px;
}

.my-sm-col-12-14{
    background-color: #2c3e50;
    height: 120px;
}