/*HEADER*/
.my-color{
    background-color: #2c3e50;
}

.my-container-1{
    background-color: #2c3e50;
    height: 100px;
}
/*JUMBOTRON*/
section{
    background-color: black;
}

.my-container-2{
    height: 50vh;
    background-color: black;
}

.color-jumbotron{
    background-color: #1abc9c;
    height: 50vh;
}

#jumbotron img{
    height: 16em;
}
/*MAIN*/
.my-container-3{
    background-color: brown;
    height: 130px;
}
/*SEZIONE-CARD*/
.my-container-fluid-1{
    background-color: green;
    width: 94%;
}

.card{
    height: 337px;
    border-radius: 11px;
    margin-bottom: 34px;
}

.card-color-1{
    background-color: #ba4b63;
}

.card-color-2{
    background-color: #1ea4b6;
}

.card-color-3{
    background-color: black;
}

.card-color-4{
    background-color: #1c83c1;
}

.card-color-5{
    background-color: #0e38b5;
}

.card-color-6{
    background-color: #ccb2a3;
}

/*ABOUT*/
.my-container-fluid-2{
    background-color: #1abc9c;
}

.my-container-4{
    width: 70%;
}

.color-1{
    background-color: royalblue;
    height: 100px;
}

.color-2{
    background-color: silver;
}

.my-row-1{
    height: 69px;
}

/*CONTACT-ME*/
.my-container-fluid-3{
    background-color: yellow;
}

.my-container-5{
    background-color: white;
    width: 70%;
}

.color-3{
    background-color: red;
    height: 100px;
}

.color-4{
    background-color: salmon;
    height: 500px;
}
/*FOOTER*/
.my-container-fluid-4{
    background-color: #3a546d;
}

.my-container-6{
    background-color: #3a546d;
    width: 88%;
    height: 100%;
    border: 2px solid black;
}

.my-row-2{
    height: 256px;
}

.color-5{
    background-color: grey;
}

.color-6{
    background-color: hotpink;
}

.color-7{
    background-color: khaki;
}
/*Copyright*/
.my-container-fluid-5{
    background-color: #2c3e50;
    height: 20vh;
}